executor/spark/src/main/scala/sparkutils/generated/*.scala
executor/spark/src/main/scala/sparkutils/generated/*.zpln
executor/spark/data.flat
out
restart.sh
*DS_Store*
project/
target/
.history
*.swp
simple*
compile.sh
data.flat
*.jar
spark-warehouse
cspark.sh
run.sh
spark/annot.example
spark/c2.cp.v7.0.symbols.gmt
spark/example.json
spark/format.py
spark/run.sh
.gitignore
plots*

# IDEA Ignores #
################
*.iml
*.ipr
*.iws
.idea/
out/
local.properties
