version: '3.7'

services:
  mongo:
    container_name: container-mongodb
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password # TODO Need to secure
      MONGO_INITDB_DATABASE: root_db
    volumes:
    - ./docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  zeppelin:
    container_name: container-zep
    image: apache/zeppelin:0.9.0
    restart: always
    ports:
      - 8082:8080
    environment:
      ZEPPELIN_LOG_DIR: /logs
      ZEPPELIN_NOTEBOOK_DIR: /notebook
      ZEPPELIN_IN_DOCKER: "true"
